@media (min-width: 500px) and (max-width: 558px) {
    iframe {
        width: 450px;
    }

    header #menu li {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 20px;
    }

    header h1 {
        font-size: 30px;
    }

    footer {
        padding-right: 5%;
    }

    #formulas #significados-mru, #significados-incognitas-mruv {
        margin-top: 8px;
    }
}

@media (min-width: 450px) and (max-width: 500px) {
    iframe {
        width: 430px;
    }

    header #menu li {
        margin-left: 2%;
        margin-right: 2%;
    }

    header h1 {
        font-size: 28px;
    }

    nav #menu ul li {
        flex-direction: column;
    }
}