@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    margin: 0px 0px;
    background-color: lightblue;
}

header {
    background-color: #38b6ff;
    position: sticky;
    top: 2px;
}

header h1 {
    color: white;
    font-size: 35px;
    font-family: "Hind Madurai", serif;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 15px;
    text-align: center;
}

nav {
    font-family: "Hind Madurai", serif;
    font-size: 20px;
}

#menu {
    display: flex;
    padding-left: 0px;
    padding-bottom: 10px;
    justify-content: space-evenly;
}

#menu li {
    flex-direction: row;
    list-style-type: none;
    margin-right: 5px;
    font-size: 22.5px;
}

.atual {
    background-color: white;
}

a:link {
    text-decoration: none;
    color: #ebd596;
}

a:visited {
    color: #ebd596;
}

a:hover {
    color: white;
    cursor: pointer;
}

main {
    margin: 0px;
}

#img-bicicleta {
    width: 250px;
    float: left;
    padding: 10px;
    margin-right: 15px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    margin: 10px;
    text-align: center;
    margin-bottom: 20px;
}

div p {
    font-family: 'Roboto Slab', serif;
    font-size: 18.5px;
    margin-left: 50px;
    text-align: justify;
    margin-right: 13px;
}

#imagem-trem {
    width: 270px;
    float: left;
    margin-right: 17px;
    margin-left: 15px;
}

.termo {
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    text-align: justify;
}

#conceitos-cinematica {
    font-family: 'Roboto Slab', serif;
}

#conceitos li {
    padding: 10px;
    text-align: justify;
    font-size: 18px;
    list-style-type: none;
}

iframe {
    display: block;
    margin: auto;
}

body footer {
    background-color: #120D0A;
    color: white;
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
}

footer h3, footer p {
    text-align: center;
}

.invisivel {
    display: none;
}

#botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#botoes button {
    width: 200px;
    font-size: 30px;
    margin: 10px;
}

#opcoes-mruv button {
    width: 200px;
    margin: 90px;
}

.marcar-pagina-atual {
    background-color: rgba(195, 199, 206, 0.564);
    padding-bottom: 7px;
    padding-top: 6px;
    padding-right: 2.5px;
    padding-left: 2.5px;
}

#opcoes {
    display: flex;
    width: 120px;
    height: 30px;
    float: left;
    margin-left: 50px;
    font-size: 20px;
}

#inputs input, #inputs label {
    padding: 10px;
    margin: 5px;
}

#inputs {
    float: right;
    margin-right: 50px;
}